"*":
  "atom-beautify":
    _analyticsUserId: "e18895d1-9036-4dc3-bd50-48b597d605eb"
    general:
      _analyticsUserId: "0f5e4c25-7c56-4f54-80c9-35d4ff872e6d"
  core:
    themes: [
      "one-dark-ui"
      "adventurous-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "d16885d1-df6a-205c-4cff-d8792f2c8876"
  figletify:
    font: "Small"
  "file-icons":
    forceShow: true
    onChanges: true
  fonts:
    fontFamily: "Droid Sans Mono"
  linter:
    showErrorPanel: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-light-ui": {}
  welcome:
    showOnStartup: false
